.PhoneInput {
  /* Container */
  width: 100%;
  background: transparent;
}

.PhoneInputInput {
  /* Input field */
  background: transparent !important;
  border: none !important;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

.PhoneInputInput::placeholder {
  color: rgba(251, 191, 36, 0.5);
}

.PhoneInputInput:focus {
  outline: none !important;
  box-shadow: none !important;
}

.PhoneInputCountry {
  /* Country select */
  margin-right: 0.5rem;
  background: transparent !important;
  border: none !important;
}

.PhoneInputCountrySelect {
  /* Country select dropdown */
  background: transparent !important;
  border: none !important;
  color: inherit;
}

.PhoneInputCountrySelectArrow {
  /* Country select arrow */
  border-color: rgb(118, 118, 118);
  opacity: 0.5;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountrySelectArrow {
  opacity: 1;
}

.PhoneInputCountryIcon {
  background: transparent !important;
  border: none !important;
} 